*{
    padding: 0px;
    margin: 0px;

}
body{
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
#bran{
    height: 20px;
    width: 100px;
    font-size: 15px;
    background-color: rgb(190, 190, 8);
    padding: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* container box */
.box1{
    height: 800px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    gap: 10px;    
}
/* sidebar info */
.sidebar{
    border: 5px solid rgb(12, 8, 8);
    height: 800px;
    background-color:rgb(117, 115, 115);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 0.6fr 1.4fr;
}
/* profiel photo */
#photosec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid black;
}
/* photo */
#photo{
    height: 120px;
    width: 120px;
    border-radius: 50px;
}
/* name */
#name{
    font-size: 20px;
    font-weight: bold;

}
/* ---sidebar email phone location --- */
#info{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;


}
/* ---account detail linkdin x anf facebook--- */
#acc-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}
/* ---hover effect on a-- */
#acc-details a:hover {
  background-color: white;
}
/* image icon svg image */
#x,#github,#facebook{
    margin-top: 20px;
    height: 25px;
    width: 25px;
}
/* content area */
.content{
    border:5px solid rgb(4, 5, 5) ;
    height: 1100px;
    background-color:rgb(117, 115, 115);
    border-radius: 20px;
    

}
/* navbar design */
#navd{
    height: 40px;
    width: 720px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content:flex-end;
    gap:30px;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 20px;
}
a{  
    text-decoration: rgb(194, 192, 192);
    color:rgb(190, 189, 189);
}
a:hover{
    text-decoration: none;
    color:rgb(238, 238, 75);
 }
/* About section */ 
#abb,#abb1{
    font-size: 50px;
    color: aliceblue;
   margin-left: 20px;

}
/* paragraph */
#para{
    margin-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}
 /* my skill section */
#skill{
    height: 300px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction:column;

}
/* skill img section */
#abb1{

}
.tu{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    margin-top: 30px;
}
/* html css js design  */
#html,#css,#js{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(90, 90, 6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#htmlimg,#cssimg,#jsimg{
    height: 80px;
    width: 80px;
}
/* education section design */
#education{
    height: 200px;
    width: 100%;
    margin-left: 30px;
    border-left: 2px solid black;
}
#textedu{
    font-size: 50px;
    margin-left: 30px;
    color: aliceblue;
}
#highe{
    margin-left: 5px;
    gap: 5px;
}
#lowe{
    margin-top: 30px;
    margin-left: 5px;
    gap: 5px
}
/* portflio section */
#portflio{
    height: 250px;
    width: 100%;
    margin-left: 30px;
}
/* portflio text */
#port{
    font-size: 50px;
    color: aliceblue;

}